* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1.7em;
  align-items: center;
  margin-top: 16px;
}

.salah {
  color: rgb(0, 165, 0);
}

input {
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 0.5px solid rgb(2, 221, 2);
}
